RewriteEngine On
RewriteBase /

# Redirect .php to clean URL
RewriteCond %{THE_REQUEST} \s/+(.*?)\.php[\s?] [NC]
RewriteRule ^(.*?)\.php$ /$1 [R=301,L]

# Internally map clean URLs to .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ $1.php [L]